[Unit]
Description=Chat Server Service
After=network.target

[Service]
Type=simple
User=vagrant
ExecStart=/vagrant/configure_credentials.sh
Restart=on-abort


[Install]
WantedBy=multi-user.target

